.splash_screen {
    height: 100%;
    background: black;

}

html,
body {
    height: 100%;
    background: black;
}

.splash_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

}

.splash_center h1 {
    font-family: "Futura", Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

#start {
    background: black;
    color: white;
}

#start:hover {
    background: white;
    color: black;

}

.galaxy_image {
    width: 100%;
    position: relative;
    left: 0%;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.bar {
    position: absolute;
    left: 0%;
    z-index: 24;
    width: 100%;
    color: white;
}

.phone_bar {
    color: white;
}

.the_bar {
    background-color: white;
    height: 1px;
    width: 100px;
}

.the_counter {
    color: white;
    font-size: 13px;
    font-weight: bold;
    background: black;
    width: 50px;
}

.the_unit {
    font-size: 8px;
    font-weight: bold;
    background: black;
    width: 50px;
}

.bar_container {
    position: sticky;
    position: -webkit-sticky;
    top: 80%;
    height: 0px;
    z-index: 30;
}
.bar_content {
    margin: 5px;
}
.feedbackbox {
    padding: 30px;
    color: white;
}

.column {
    float: left;
    width: 50%;
}

.side {
    width: 15%;
    max-width: 300px;
    display: none;
    overflow: visible;

}

.other {
    width: 100%;
    margin: 20px;
}
.info {
    width: 20%;
    color: white;
    position: relative;
    display: none;
}
.sidebar_button {
    background: black;
    position: sticky;
    position: -webkit-sticky;
    top: 30%;
    width: 30px;
    margin-left: -50px;
    padding: 10px;
    cursor: pointer;
    z-index: 300;
}
/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
.right_box{
    height: auto;
    overflow: hidden;
    position: absolute;
}
.right_title {
    font-size: 20px;
    font-weight: bold;
}
.right_img {
    width: 100%;
    padding: 0px;
}
.right_content {
    font-size: 10px;
    text-align: justify;
}

.test_stick {
    top: 0px;
    height: 800px;
    position: sticky;
    position: -webkit-sticky;
    transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    padding: 20px;
    -webkit-backface-visibility: hidden;
    color: white;

}
.test_stick > * {
    -webkit-transform: translateZ(0);
}
.side_scroll {
    
    background: grey;
    cursor: pointer;
    height: 500px;
    width: 100%;
    min-width: 10px;
}
.view_box{
    background: white;
    background: white;
    height: 100px;
    top: -250px;
    position: relative;
    width: 100%;
    min-width: 10px;

    z-index: 3;
}
.galaxy_container {
    background: yellow;
}
.image_pieces {
    width: 100%;
}

.main_bar {
    float: none;
    width: 100%;
}

.big_counter {
    font-size: 30px;
    font-weight: bold;
}
.side_divider {
    height: 2px;
    background: white;
    margin: 10px;

}
.divider {
    height: 2px;
    background: white;
    margin: 10px;
    margin-top: 50px;
}
.desktop_bar {
    background: white;
    width: 40px;
    height: 1px;
    float: left;
    display: none;
}
#barone {
    float: left;
}
#bartwo {
    float: right;
}
.image_wrap{
    width: 100%;
    max-width: 100%;
    position: relative;
}
.location {
    position: absolute;
    left: 20%;
    cursor: pointer;
    color: gray;
    font-size: 11px;
    font-family: "Futura";
    white-space: nowrap;

}
.location:hover{
    color: white;

}
#positions {
    font-size: 15px;
    text-align: left;
    position: relative;
}
.side_cols {
    margin: 0px;
    margin-top: 30px;
    position: relative;
}
#sider {
    width: 6%;
    max-width: 20px;
}
#clickable {
    background: red;
}
.feedbackbox h1 {
    font-weight: bold;
    font-family: "Avenir"
}
.feedbackbox h2 {
    margin: 20px;
    
    font-weight: bold;
    font-size: 25px;
    font-family: "Helvetica"
}
.gal_pos {
    top:350px;
}
.star_pos {
    top: 450px;
}
.atmosphere_pos {
    top: 550px;
}
.planet_pos {
    top:500px;
}
.info_button {
    display: block;

    position: absolute;
    top: 1000px;
    background: black;
    left: 80%;
    padding: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer;

}
.info_button:hover{
    background: white;
    color: black;
}
#other { 
    background: blue;
    top: 500px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 300; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_box {
    position: absolute;
    background: white;
    margin: auto;
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 80%;
    max-height: 80%;
    transform: translate(-50%, -50%);
    overflow:scroll;
}
.modal_img {
    width: 100%;
    margin: 10px;
}

.modal_head {
    font-size: 20px;
    font-weight: bold;
    font-family: "Futura";
}

.modal_content {
    text-align: justify;
    font-size: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (min-width: 900px) {
    .side_bar {
        display: inline-block;
    }
    .main_bar {
        width: 100%;
    }

    .side {
        display: inline-block;
    }
    .phone_bar{
        display: none;
    }
    .desktop_bar {
        display: inline-block;
    }
    .other {
        width: 80%;
    }

}
@media only screen and (min-width: 1000px) {
    .info {
        display: block;
    }
    .info_button{
        display: none;
    }

    .other {
        width: 55% ;
    }
}
