.splash_screen {
    height: 100%;
    background: black;

}

html,
body {
    height: 100%;
    background: black;
}

.splash_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

}

.splash_center h1 {
    font-family: "Futura", Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

#start {
    background: black;
    color: white;
}

#start:hover {
    background: white;
    color: black;

}

.galaxy_image {
    width: 100%;
    position: relative;
    left: 0%;
    max-width: 1000px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.bar {
    position: absolute;
    left: 0%;
    z-index: 24;
    width: 100%;
    color: white;
}

.phone_bar {
    color: white;
}

.the_bar {
    background-color: white;
    height: 1px;
    width: 100px;
}

.the_counter {
    color: white;
    font-size: 13px;
    font-weight: bold;
    background: black;
    width: 50px;
}

.the_unit {
    font-size: 8px;
    font-weight: bold;
    background: black;
    width: 50px;
}

.bar_container {
    position: sticky;
    position: -webkit-sticky;
    top: 80%;
    height: 0px;
    z-index: 100;
}
.bar_content {
    margin: 5px;
}
.feedbackbox {
    padding: 30px;
    color: white;
}

.column {
    float: left;
    width: 50%;
}

.side {
    width: 20%;
    display: none;

}

.other {
    width: 100%;

}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


.side_bar {
    height: 800px;
    width: 100%;
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 5%;
    color: white;
    padding: 30px;
}

.side_scroll {
    
    background: white;
    cursor: pointer;
    height: 500px;
    margin-left: 45%;
    margin-right: 45%;
    /**
    height: 500px;
    width: 10px;
    margin: 30px;
    */
}
.view_box{
    background: gray;
    height: 100px;
    top: -250px;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    z-index: -3;
}
.galaxy_container {
    background: yellow;
}

.main_bar {
    float: none;
    width: 100%;
}

.big_counter {
    font-size: 30px;
    font-weight: bold;
}
.side_divider {
    height: 2px;
    background: white;
    margin: 10px;

}
.divider {
    height: 2px;
    background: white;
    margin: 10px;
    margin-top: 50px;
}
.desktop_bar {
    background: white;
    width: 40px;
    height: 1px;
    float: left;
    display: none;
}
#barone {
    float: left;
}
#bartwo {
    float: right;
}
.image_wrap{
    max-width: 800px;
}
.location {
    position: absolute;
    left: 55%;
}

#positions {
    font-size: 15px;
    text-align: left;
    padding: 5px;
}
.side_cols {
    margin: 20px;
}
#clickable {
    background: red;
}
.feedbackbox h1 {
    font-weight: bold;
    font-family: "Futura"
}
.feedbackbox h2 {
    margin: 20px;
    
    font-weight: bold;
    font-size: 25px;
    font-family: "Helvetica"
}
.gal_pos {
    top:350px;
}
.star_pos {
    top: 450px;
}
.atmosphere_pos {
    top: 550px;
}
.planet_pos {
    top:500px;
}
#other { 
    background: blue;
    top: 500px;
}
@media only screen and (min-width: 800px) {
    .side_bar {
        display: inline-block;
    }
    .main_bar {
        width: 80%;
    }
    .other {
        width: 80%;
    }
    .side {
        display: inline-block;
    }
    .phone_bar{
        display: none;
    }
    .desktop_bar {
        display: inline-block;
    }
}